<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ykf.bishe.carservice">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.ykf.bishe.ui.util.App">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1591bc06cbff3d7f62af7c12c4b7d19c" />
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name="com.ykf.bishe.ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ykf.bishe.ui.activity.LoginActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.EditUserInfoActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.ProvinceListActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.CityListActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.MapActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.WeatherActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.EditDescActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.RepairDetail" />
        <activity android:name="com.ykf.bishe.ui.activity.MoreActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.OrderIngListActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.OrderedListActivity" />
        <activity android:name="com.ykf.bishe.ui.activity.OrderDetailActivity" />



        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>